[access]
	inheritFrom = All-Projects
[project]
	description = Boruta is part of SLAV stack. It is used to manage a device farm.
[access "refs/*"]
	owner = group SamsungSLAV
	owner = group user/Maciej (maciejaszek)
[access "refs/for/refs/*"]
	read = group Registered Users
	read = group user/Maciej (maciejaszek)
	push = group Registered Users
	push = group user/Maciej (maciejaszek)
	label-Code-Review = -2..+2 group user/Maciej (maciejaszek)
	label-Verified = -1..+1 group user/Maciej (maciejaszek)
	rebase = group user/Maciej (maciejaszek)
	removeReviewer = group user/Maciej (maciejaszek)
	submit = group user/Maciej (maciejaszek)
[access "refs/heads/*"]
	read = group Registered Users
	read = group user/Maciej (maciejaszek)
	create = group user/Maciej (maciejaszek)
	push = +force group user/Maciej (maciejaszek)
	pushMerge = group user/Maciej (maciejaszek)
[access "refs/tags/*"]
	push = group user/Maciej (maciejaszek)
	push = +force group user/Maciej (maciejaszek)
	forgeAuthor = group SamsungSLAV
	forgeCommitter = group SamsungSLAV
	create = group SamsungSLAV
[receive]
	requireSignedOffBy = true
	requireChangeId = true
[submit]
	action = rebase if necessary
